<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isSmallScreen$ | async) ? 'dialog' : 'navigation'" [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
               class="sidenav"
               fixedInViewport="false">
    <mat-toolbar class="mat-elevation-z2">
      <mat-icon>home</mat-icon>
      Ariada
    </mat-toolbar>
    <mat-nav-list>
      <a [matMenuTriggerFor]="patients" mat-list-item routerLink="/patients">
        <mat-icon>people</mat-icon>
        Робота з пацієнтами
      </a>
      <a mat-list-item routerLink="/statistics">
        <mat-icon>assessment</mat-icon>
        Статистика
      </a>
      <a mat-list-item routerLink="/calendar">
        <mat-icon>calendar_today</mat-icon>
        Календар
      </a>
      <a mat-list-item routerLink="/informations">
        <mat-icon>folder_special</mat-icon>
        Особиста інформація
      </a>
      <a mat-list-item routerLink="/admin-panel">
        <mat-icon>settings</mat-icon>
        Адмін панель
      </a>
      <a mat-list-item>
        <mat-icon>exit_to_app</mat-icon>
        Вийти
      </a>
    </mat-nav-list>

    <mat-menu #patients="matMenu">
      <button *ngFor="let patientNavLink of patientNavLinks" mat-menu-item
              routerLink="/patients/{{patientNavLink.routerLink}}">{{patientNavLink.label}}</button>
    </mat-menu>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar mat-elevation-z5" color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isSmallScreen$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button routerLink="/login">
        <mat-icon>home</mat-icon>
        Ariada
      </a>
      <a *ngIf="!(isSmallScreen$ | async)" mat-button routerLink="/patients" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        Робота з пацієнтами
      </a>
      <a *ngIf="!(isSmallScreen$ | async)" mat-button routerLink="/statistics">
        <mat-icon>assessment</mat-icon>
        Статистика
      </a>
      <a *ngIf="!(isSmallScreen$ | async)" mat-button routerLink="/calendar">
        <mat-icon>calendar_today</mat-icon>
        Календар
      </a>
      <a *ngIf="!(isSmallScreen$ | async)" mat-button routerLink="/informations">
        <mat-icon>folder_special</mat-icon>
        Особиста інформація
      </a>
      <a *ngIf="!(isSmallScreen$ | async)" mat-button routerLink="/admin-panel">
        <mat-icon>settings</mat-icon>
        Адмін панель
      </a>
      <div class="flex-spacer"></div>
      <!--<a routerLink="#">Test1</a>-->
      <a (click)="logout()" mat-button>
        <mat-icon>exit_to_app</mat-icon>
        Вийти
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
