<div class="col-md-12"
     style="margin: 15px 0px; background: #f8f8f8; border: 1px solid rgba(0, 0, 0, 0.2); padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">

  <p *ngFor="let item of DB.kerdoIndex.tasks; let i=index;">{{item}}</p>

  <button (click)="addColumns()">{{DB.kerdoIndex.addColumns}}</button>
  <button (click)="removeColumns()">{{DB.kerdoIndex.removeColumns}}</button>
  <button (click)="calculateColumns()">{{DB.kerdoIndex.calculateColumns}}</button>
  <div class="gwt-Table-Wrapper">
    <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
      <tbody>
      <ng-container *ngFor="let item of DB.kerdoIndex.table; let i=index">
        <tr>
          <ng-container *ngFor="let td of item.td; let j=index">
            <td *ngIf="td.type=='text'">{{td.value}}</td>
            <td *ngIf="td.type!='text'"><input [(ngModel)]="td.value" class="gwt-Table-Input" type="{{td.type}}"></td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

</div>
