<mat-vertical-stepper #stepper linear>
  <mat-step [stepControl]="formGroupOne">
    <form [formGroup]="formGroupOne" class="full-width">
      <ng-template matStepLabel>Ознаки хворого</ng-template>
      <div>
        <p>Ознайомтесь із загальними протипоказаннями до призначення фізичної реабілітації та зробіть висновки щодо
          можливості
          призначення фізичної реабілітації залежно від наявності чи відсутності протипоказань для призначення фізичної
          реабілітації.</p>
        <p>Виберіть з переліку основного контингенту хворих (присутня одна або більше ознак). <em>ТГ-терапевтична група.
          НГ-неврологічна. ОТіХГ-Ортопедо-травматологічна і хірургічна.</em></p>
      </div>
      <mat-form-field *ngIf="(phRSubGroups$ | async) as phRSubGroups; else loadingPhRSubGroups">
        <mat-select formControlName="phRSubGroupsSelected" multiple placeholder="Виберіте одну або більше ознак ..."
                    required>
          <mat-option *ngFor="let phRSubGroup of phRSubGroups" [value]="phRSubGroup">
            {{phRSubGroup.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingPhRSubGroups>
        <app-progress-spinner size="small"></app-progress-spinner>
      </ng-template>
      <div>
        <button mat-stroked-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formGroupTwo">
    <form [formGroup]="formGroupTwo" class="full-width">
      <ng-template matStepLabel>Протипоказання</ng-template>
      <mat-form-field *ngIf="(phRAlloweds$ | async) as phRAlloweds; else loadingPhRAlloweds">
        <mat-select (ngModelChange)="calcAllowPhysicalRahabilitation()" formControlName="phRAllowedsSelected"
                    multiple placeholder="Виберіте одну або більше ознак ..." required>
          <mat-option *ngFor="let phRAllowed of phRAlloweds" [value]="phRAllowed">
            {{phRAllowed.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingPhRAlloweds>
        <app-progress-spinner size="small"></app-progress-spinner>
      </ng-template>
      <div *ngIf="phRAllowedsSelected && phRAllowedsSelected.length>0">Фізична реабілітація<span
        *ngIf="!isAllowPhysicalRahabilitation"> не </span>
        показана
      </div>
      <div class="button-row">
        <button mat-stroked-button matStepperPrevious>Назад</button>
        <button mat-stroked-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroupThree">
    <form [formGroup]="formGroupThree" class="full-width">
      <ng-template matStepLabel>Вихідний стан хворого</ng-template>
      <mat-form-field *ngIf="(treatments$ | async) as treatments; else loadingTreatments">
        <mat-select formControlName="treatmentsSelected" placeholder="Режим лікування:" required>
          <mat-option *ngFor="let treatment of treatments" [value]="treatment.title">
            {{treatment.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingTreatments>
        <app-progress-spinner size="small"></app-progress-spinner>
      </ng-template>
      <h4>Основні категорії життєдіяльності:</h4>
      <mat-form-field *ngIf="(selfServices$ | async) as selfServices; else loadingSelfServices">
        <mat-select formControlName="selfServicesSelected" placeholder="Здатність до самообслуговування:" required>
          <mat-option *ngFor="let selfService of selfServices" [value]="selfService.title">
            {{selfService.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingSelfServices>
        <app-progress-spinner size="small"></app-progress-spinner>
      </ng-template>

      <mat-form-field
        *ngIf="(psychologicalStatuses$ | async) as psychologicalStatuses; else loadingPsychologicalStatuses">
        <mat-select formControlName="psychologicalStatusesSelected"
                    placeholder="Психоемоціний статус та мотивація щодо участі в реабілітаційній програмі:" required>
          <mat-option *ngFor="let psychologicalStatus of psychologicalStatuses"
                      [value]="psychologicalStatus.title">
            {{psychologicalStatus.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingPsychologicalStatuses>
        <app-progress-spinner size="small"></app-progress-spinner>
      </ng-template>

      <mat-form-field *ngIf="(criteria$ | async) as criteria; else loadingCriteria">
        <mat-select formControlName="criteriaSelected" placeholder="Критерій для призначення реабілітаційних програм:"
                    required>
          <mat-option *ngFor="let criterion of criteria" [value]="criterion.title">
            {{criterion.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingCriteria>
        <app-progress-spinner size="small"></app-progress-spinner>
      </ng-template>

      <mat-form-field
        *ngIf="(assessmentOfFunctionalCapabilities$ | async) as assessmentOfFunctionalCapabilities; else loadingAssessmentOfFunctionalCapabilities">
        <mat-select formControlName="assessmentOfFunctionalCapabilitiesSelected"
                    placeholder="Оцінка хворим функціональних можливостей організму:" required>
          <mat-option *ngFor="let assessmentOfFunctionalCapability of assessmentOfFunctionalCapabilities"
                      [value]="assessmentOfFunctionalCapability.title">
            {{assessmentOfFunctionalCapability.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingAssessmentOfFunctionalCapabilities>
        <app-progress-spinner size="small"></app-progress-spinner>
      </ng-template>

      <div class="button-row">
        <button mat-stroked-button matStepperPrevious>Назад</button>
        <button (click)="stepper.reset()" mat-stroked-button>Скинути</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
