<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Ознаки хворого</ng-template>
      <app-step-one></app-step-one>
      <div>
        <button mat-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Протипоказання</ng-template>
      <app-step-two></app-step-two>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Вихідний стан хворого</ng-template>
    <app-step-three></app-step-three>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="stepper.reset()">Скинути</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
