<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Ознаки хворого</ng-template>
      <app-step-one></app-step-one>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Протипоказання</ng-template>
      <app-step-one></app-step-one>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Вихідний стан хворого</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="stepper.reset()">Скинути</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
