<mat-form-field class="full-width">
  <mat-chip-list
    #chipList>
    <mat-chip
      *ngFor="let item of items"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(item)">
      {{item[selectableName]}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      matInput
      [required]="required"
      [placeholder]="placeholder"
      #itemInput
      [formControl]="formControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let filteredItem of filteredItems | async;  let i = index" [attr.data-index]="i" [value]="i">
      {{filteredItem[selectableName]}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
