<div class="col-md-12">

  <div class="gwt-HTML">
    <div (click)="isSamosiukVisible=!isSamosiukVisible;"
         class="gwt-Label gwt-Big-Label gwt-Label-Centered gwt-Pointer gwt-Like-Link">
      <p>{{DB.samosiukTitle}}
        <span [class.glyphicon-menu-down]="isSamosiukVisible" [class.glyphicon-menu-up]="!isSamosiukVisible"
              aria-hidden="true" class="glyphicon"
              title="show"></span>
      </p>
    </div>
    <div *ngIf="isSamosiukVisible"
         style="background:#f8f8f8;margin:0 0 15px 0;overflow: auto;height: 500px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin:0 0 15px 0;padding: 10px;">
      <span class="gwt-RadioButton gwt-RadioButton-disabled">
        <input [checked]="DB.therapeuticGroupChecked" disabled id="gwt-uid-17" name="radioGroup1" type="radio"
               value="on">
        <label for="gwt-uid-17">{{DB.therapeuticGroup}}</label>
      </span>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
          <tbody>
          <tr (click)="therapeuticGroupChange(item)" *ngFor="let item of DB.therapeuticGroupTable; let i=index"
              class="gwt-Pointer">
            <td *ngIf="i!=0">
                <span class="gwt-CheckBox" style="pointer-events:none;">
                  <input [checked]="item.checked" type="checkbox">
                </span>
            </td>
            <td *ngIf="i==0">
              {{item.td[0]}}
            </td>
            <td>{{item.td[1]}}</td>
            <td>{{item.td[2]}}</td>
            <td>{{item.td[3]}}</td>
            <td>{{item.td[4]}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <span class="gwt-RadioButton gwt-RadioButton-disabled">
        <input [checked]="DB.neurologicalGroupChecked" disabled id="gwt-uid-29" name="radioGroup1" type="radio"
               value="on">
        <label for="gwt-uid-29">{{DB.neurologicalGroup}}</label>
      </span>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
          <tbody>
          <tr (click)="neurologicalGroupChange(item)" *ngFor="let item of DB.neurologicalGroupTable; let i=index"
              class="gwt-Pointer">
            <td *ngIf="i!=0">
                <span class="gwt-CheckBox" style="pointer-events:none;">
                  <input [checked]="item.checked" type="checkbox">
                </span>
            </td>
            <td *ngIf="i==0">
              {{item.td[0]}}
            </td>
            <td>{{item.td[1]}}</td>
            <td>{{item.td[2]}}</td>
            <td>{{item.td[3]}}</td>
            <td>{{item.td[4]}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <span class="gwt-RadioButton gwt-RadioButton-disabled">
        <input [checked]="DB.orthopedicTraumatologicAndSurgicalGroupChecked" disabled id="gwt-uid-38" name="radioGroup3" type="radio"
               value="on">
        <label for="gwt-uid-38">{{DB.orthopedicTraumatologicAndSurgicalGroup}}</label>
      </span>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
          <tbody>
          <tr (click)="orthopedicTraumatologicAndSurgicalGroupChange(item)"
              *ngFor="let item of DB.orthopedicTraumatologicAndSurgicalGroupTable; let i=index"
              class="gwt-Pointer">
            <td *ngIf="i!=0">
                <span class="gwt-CheckBox" style="pointer-events:none;">
                  <input [checked]="item.checked" type="checkbox">
                </span>
            </td>
            <td *ngIf="i==0">
              {{item.td[0]}}
            </td>
            <td>{{item.td[1]}}</td>
            <td>{{item.td[2]}}</td>
            <td>{{item.td[3]}}</td>
            <td>{{item.td[4]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="gwt-HTML">
    <div (click)="isPeriodsSequence=!isPeriodsSequence;" class="gwt-Label gwt-Pointer gwt-Like-Link">
      <p>{{DB.periodsSequenceTitle}}
        <span [class.glyphicon-menu-down]="isPeriodsSequence" [class.glyphicon-menu-up]="!isPeriodsSequence"
              aria-hidden="true" class="glyphicon"
              title="show"></span>
      </p>
    </div>
    <div *ngIf="isPeriodsSequence" class="gwt-Table-Wrapper"
         style="background:#f8f8f8; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin:0 0 15px 0;padding: 10px;">
      <table class="gwt-Table gwt-Table-Bold table table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.periodsSequenceTable">
          <td>{{item.td[0]}}</td>
          <td>{{item.td[1]}}</td>
          <td>{{item.td[2]}}</td>
          <td>{{item.td[3]}}</td>
          <td>{{item.td[4]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="gwt-HTML">
    <p class="gwt-Label">{{DB.volumeOfRehabilitationMeasuresTitle}}</p>
    <div class="gwt-Table-Wrapper" style="margin:0 0 15px 0;">
      <table class="gwt-Table gwt-Table-Bold table table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.volumeOfRehabilitationMeasuresTable">
          <td>{{item.td[0]}}</td>
          <td>{{item.td[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="gwt-Table-Wrapper">
    <!-- {{DB.modeOfMotionActivityChecked | json}} -->
    <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
      <tbody>
      <tr (click)="nodeOfMotionChange(item, i)" *ngFor="let item of DB.modeOfMotionActivity; let i=index"
          class="gwt-Pointer">
        <td *ngIf="i!=0">
            <span class="gwt-RadioButton">
              <input [checked]="DB.modeOfMotionActivityChecked==i" name="radioGroup2" type="radio" value="on">
            </span>
        </td>
        <td *ngIf="i==0">{{item.td[0]}}</td>
        <td>{{item.td[1]}}</td>
        <td>{{item.td[2]}}</td>
        <td>{{item.td[3]}}</td>
        <td>{{item.td[4]}}</td>
        <td>{{item.td[5]}}</td>
        <td>{{item.td[6]}}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="DB.modeOfMotionActivityChecked">
    <div class="gwt-HTML">
      <p class="gwt-Label">
        <b>{{DB.stepThreeStep}}</b>{{DB.stepThreeTitle}}</p>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-bordered">
          <tbody>
          <ng-container *ngIf="4>=DB.modeOfMotionActivityChecked">
            <tr *ngFor="let item of DB.stepThreeTableSick; let i=index">
              <!-- {{i}}{{DB.modeOfMotionActivityChecked}} -->
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="DB.modeOfMotionActivityChecked>4">
            <tr *ngFor="let item of DB.stepThreeTableHealth; let i=index">
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked-4">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="gwt-HTML">
      <p class="gwt-Label">
        <b>{{DB.stepFourStep}}</b>{{DB.stepFourTitle}}</p>
      <!-- {{DB.LFK | json}} -->
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-bordered">
          <tbody>
          <ng-container *ngIf="4>=DB.modeOfMotionActivityChecked">
            <tr *ngFor="let item of DB.stepFourTableSick; let i=index">
              <!-- {{i}}{{DB.modeOfMotionActivityChecked}} -->
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
            <tr *ngFor="let item of DB.stepFourTableSick; let i=index">
              <ng-container *ngIf="i==DB.modeOfMotionActivityChecked">
                <td *ngFor="let td of item.td; let j=index">
                  <!-- (click)="DB.LFK[j]=!DB.LFK[j];"-->
                  <ng-container *ngIf="j!=0">
                      <span class="gwt-CheckBox">
                        <!-- style="pointer-events:none;"-->
                        <input (change)="redirectTo(j);" [(ngModel)]="DB.LFK[j]" [checked]="DB.LFK[j]" type="checkbox">
                      </span>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="DB.modeOfMotionActivityChecked>4">
            <tr *ngFor="let item of DB.stepFourTableHealth; let i=index">
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked-4">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
            <tr *ngFor="let item of DB.stepFourTableHealth; let i=index">
              <ng-container *ngIf="i==DB.modeOfMotionActivityChecked-4">
                <td *ngFor="let td of item.td; let j=index">
                  <ng-container *ngIf="j!=0">
                      <span class="gwt-CheckBox">
                        <input (change)="updateFormsOfProcedureHealthTable(j);redirectTo(j);" [(ngModel)]="DB.LFK[j]" [checked]="DB.LFK[j]"
                               type="checkbox">
                      </span>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="4>=DB.modeOfMotionActivityChecked" class="gwt-HTML">
    <p class="gwt-Label">{{DB.formsOfProcedureSickTitle}}</p>
    <div class="gwt-Table-Wrapper">
      <table class="gwt-Table gwt-Table-Bold table table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.formsOfProcedureSickTable">
          <td>{{item.td[0]}}</td>
          <td>{{item.td[1]}}</td>
          <td>{{item.td[2]}}</td>
          <td>{{item.td[3]}}</td>
          <td>{{item.td[4]}}</td>
          <td>{{item.td[5]}}</td>
          <td>{{item.td[6]}}</td>
          <td>{{item.td[7]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p *ngFor="let item of DB.formsOfProcedureSickNote; let i=index;">
      <i *ngIf="i==0">{{DB.defaultNote}}</i>{{item}}</p>
  </div>

  <div *ngIf="DB.modeOfMotionActivityChecked>4" class="gwt-HTML">
    <p class="gwt-Label gwt-Big-Label gwt-Label-Centered">{{DB.formsOfProcedureHealthTitle}}</p>
    <p class="gwt-Label gwt-Label-Centered">{{DB.formsOfProcedureHealthSubTitle}}</p>
    <div class="gwt-Table-Wrapper" style="height: 300px !important;">
      <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.formsOfProcedureHealthTable; let i=index">
          <ng-container *ngIf="(item.edit)">
            <td>
              <input [(ngModel)]="item.td[0]" class="gwt-Table-Input" type="edit">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit)">
            <td>{{item.td[0]}}</td>
          </ng-container>

          <ng-container *ngIf="(item.edit)">
            <td>
              <input [(ngModel)]="item.td[1]" class="gwt-Table-Input" type="edit">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit)">
            <td>{{item.td[1]}}</td>
          </ng-container>

          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==1)">
            <td>
              <input [(ngModel)]="item.td[2]" class="gwt-Table-Input" type="edit">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==1)">
            <td>{{item.td[2]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input (change)="changeFormsOfProcedureHealthTable();" [(ngModel)]="item.td[3]"
                       [checked]="(DB.modeOfMotionActivityChecked-4)==1 && item.td[3]"
                       [disabled]="!(((DB.modeOfMotionActivityChecked-4)==1))" type="checkbox">
                <!--&& (DB.LFK[9] && i>=19 && i<=23)-->
              </span>
          </td>
          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==2)">
            <td>
              <input [(ngModel)]="item.td[4]" class="gwt-Table-Input" type="edit">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==2)">
            <td>{{item.td[4]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input (change)="changeFormsOfProcedureHealthTable();" [(ngModel)]="item.td[5]"
                       [checked]="(DB.modeOfMotionActivityChecked-4)==2 && item.td[5]"
                       [disabled]="!((DB.modeOfMotionActivityChecked-4)==2)" type="checkbox">
              </span>
          </td>
          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==3)">
            <td>
              <input [(ngModel)]="item.td[6]" class="gwt-Table-Input" type="edit">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==3)">
            <td>{{item.td[6]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input (change)="changeFormsOfProcedureHealthTable();" [(ngModel)]="item.td[7]"
                       [checked]="(DB.modeOfMotionActivityChecked-4)==3 && item.td[7]"
                       [disabled]="!((DB.modeOfMotionActivityChecked-4)==3)" type="checkbox">
              </span>
          </td>
          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==4)">
            <td>
              <input [(ngModel)]="item.td[8]" class="gwt-Table-Input" type="edit">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==4)">
            <td>{{item.td[8]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input (change)="changeFormsOfProcedureHealthTable();" [(ngModel)]="item.td[9]"
                       [checked]="(DB.modeOfMotionActivityChecked-4)==4 && item.td[9]"
                       [disabled]="!((DB.modeOfMotionActivityChecked-4)==4)" type="checkbox">
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button (click)="addFormsOfProcedureHealthTableRow()">{{DB.addFormsOfProcedureHealthTableRow}}</button>
    <p *ngFor="let item of DB.formsOfProcedureHealthNote; let i=index;"><i *ngIf="i==0">{{DB.defaultNote}}</i>{{item}}
    </p>
  </div>


  <!-- <app-ui-rehabilitation-navigation></app-ui-rehabilitation-navigation> -->
  <div #rehabilitationnav>
    <div *ngIf="DB.modeOfMotionActivityChecked && (DB.LFK[1] || DB.LFK[2] || DB.LFK[3] || DB.LFK[4] || DB.LFK[8])">
      <div class="rehabilitationnav" fragment="rehabilitationnav" id="rehabilitationnav">
        <p *ngIf="DB.LFK[1]">
          <a fragment="morning-gymnastics" routerLink="./morning-gymnastics"
             routerLinkActive="active">{{DB.morningGymnasticsNav}}</a>
        </p>
        <p *ngIf="DB.LFK[2]">
          <a fragment="medical-gymnastics" routerLink="./medical-gymnastics"
             routerLinkActive="active">{{DB.medicalGymnasticsNav}}</a>
        </p>
        <p *ngIf="DB.LFK[3]">
          <a fragment="self-exercises" routerLink="./self-exercises"
             routerLinkActive="active">{{DB.selfExercisesNav}}</a>
        </p>
        <p *ngIf="DB.LFK[4]">
          <a fragment="massage" routerLink="./massage" routerLinkActive="active">{{DB.massageNav}}</a>
        </p>
        <p *ngIf="DB.LFK[8]">
          <a fragment="multimedia" routerLink="./multimedia" routerLinkActive="active">{{DB.multimediaNav}}</a>
        </p>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>
