<div class="col-md-12">

  <div class="gwt-HTML">
    <div class="gwt-Label gwt-Big-Label gwt-Label-Centered gwt-Pointer gwt-Like-Link" (click)="isSamosiukVisible=!isSamosiukVisible;">
      <p>{{DB.samosiukTitle}}
        <span class="glyphicon" [class.glyphicon-menu-up]="!isSamosiukVisible" [class.glyphicon-menu-down]="isSamosiukVisible" aria-hidden="true"
              title="show"></span>
      </p>
    </div>
    <div *ngIf="isSamosiukVisible" style="background:#f8f8f8;margin:0 0 15px 0;overflow: auto;height: 500px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin:0 0 15px 0;padding: 10px;">
      <span class="gwt-RadioButton gwt-RadioButton-disabled">
        <input type="radio" name="radioGroup1" value="on" id="gwt-uid-17" disabled [checked]="DB.therapeuticGroupChecked">
        <label for="gwt-uid-17">{{DB.therapeuticGroup}}</label>
      </span>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
          <tbody>
          <tr *ngFor="let item of DB.therapeuticGroupTable; let i=index" (click)="therapeuticGroupChange(item)" class="gwt-Pointer">
            <td *ngIf="i!=0">
                <span class="gwt-CheckBox" style="pointer-events:none;">
                  <input type="checkbox" [checked]="item.checked">
                </span>
            </td>
            <td *ngIf="i==0">
              {{item.td[0]}}
            </td>
            <td>{{item.td[1]}}</td>
            <td>{{item.td[2]}}</td>
            <td>{{item.td[3]}}</td>
            <td>{{item.td[4]}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <span class="gwt-RadioButton gwt-RadioButton-disabled">
        <input type="radio" name="radioGroup1" value="on" id="gwt-uid-29" disabled [checked]="DB.neurologicalGroupChecked">
        <label for="gwt-uid-29">{{DB.neurologicalGroup}}</label>
      </span>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
          <tbody>
          <tr *ngFor="let item of DB.neurologicalGroupTable; let i=index" (click)="neurologicalGroupChange(item)" class="gwt-Pointer">
            <td *ngIf="i!=0">
                <span class="gwt-CheckBox" style="pointer-events:none;">
                  <input type="checkbox" [checked]="item.checked">
                </span>
            </td>
            <td *ngIf="i==0">
              {{item.td[0]}}
            </td>
            <td>{{item.td[1]}}</td>
            <td>{{item.td[2]}}</td>
            <td>{{item.td[3]}}</td>
            <td>{{item.td[4]}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <span class="gwt-RadioButton gwt-RadioButton-disabled">
        <input type="radio" name="radioGroup3" value="on" id="gwt-uid-38" disabled [checked]="DB.orthopedicTraumatologicAndSurgicalGroupChecked">
        <label for="gwt-uid-38">{{DB.orthopedicTraumatologicAndSurgicalGroup}}</label>
      </span>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
          <tbody>
          <tr *ngFor="let item of DB.orthopedicTraumatologicAndSurgicalGroupTable; let i=index" (click)="orthopedicTraumatologicAndSurgicalGroupChange(item)"
              class="gwt-Pointer">
            <td *ngIf="i!=0">
                <span class="gwt-CheckBox" style="pointer-events:none;">
                  <input type="checkbox" [checked]="item.checked">
                </span>
            </td>
            <td *ngIf="i==0">
              {{item.td[0]}}
            </td>
            <td>{{item.td[1]}}</td>
            <td>{{item.td[2]}}</td>
            <td>{{item.td[3]}}</td>
            <td>{{item.td[4]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="gwt-HTML">
    <div class="gwt-Label gwt-Pointer gwt-Like-Link" (click)="isPeriodsSequence=!isPeriodsSequence;">
      <p>{{DB.periodsSequenceTitle}}
        <span class="glyphicon" [class.glyphicon-menu-up]="!isPeriodsSequence" [class.glyphicon-menu-down]="isPeriodsSequence" aria-hidden="true"
              title="show"></span>
      </p>
    </div>
    <div *ngIf="isPeriodsSequence" class="gwt-Table-Wrapper" style="background:#f8f8f8; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin:0 0 15px 0;padding: 10px;">
      <table class="gwt-Table gwt-Table-Bold table table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.periodsSequenceTable">
          <td>{{item.td[0]}}</td>
          <td>{{item.td[1]}}</td>
          <td>{{item.td[2]}}</td>
          <td>{{item.td[3]}}</td>
          <td>{{item.td[4]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="gwt-HTML">
    <p class="gwt-Label">{{DB.volumeOfRehabilitationMeasuresTitle}}</p>
    <div class="gwt-Table-Wrapper" style="margin:0 0 15px 0;">
      <table class="gwt-Table gwt-Table-Bold table table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.volumeOfRehabilitationMeasuresTable">
          <td>{{item.td[0]}}</td>
          <td>{{item.td[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="gwt-Table-Wrapper">
    <!-- {{DB.modeOfMotionActivityChecked | json}} -->
    <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
      <tbody>
      <tr *ngFor="let item of DB.modeOfMotionActivity; let i=index" (click)="nodeOfMotionChange(item, i)" class="gwt-Pointer">
        <td *ngIf="i!=0">
            <span class="gwt-RadioButton">
              <input type="radio" name="radioGroup2" value="on" [checked]="DB.modeOfMotionActivityChecked==i">
            </span>
        </td>
        <td *ngIf="i==0">{{item.td[0]}}</td>
        <td>{{item.td[1]}}</td>
        <td>{{item.td[2]}}</td>
        <td>{{item.td[3]}}</td>
        <td>{{item.td[4]}}</td>
        <td>{{item.td[5]}}</td>
        <td>{{item.td[6]}}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="DB.modeOfMotionActivityChecked">
    <div class="gwt-HTML">
      <p class="gwt-Label">
        <b>{{DB.stepThreeStep}}</b>{{DB.stepThreeTitle}}</p>
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-bordered">
          <tbody>
          <ng-container *ngIf="4>=DB.modeOfMotionActivityChecked">
            <tr *ngFor="let item of DB.stepThreeTableSick; let i=index">
              <!-- {{i}}{{DB.modeOfMotionActivityChecked}} -->
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="DB.modeOfMotionActivityChecked>4">
            <tr *ngFor="let item of DB.stepThreeTableHealth; let i=index">
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked-4">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="gwt-HTML">
      <p class="gwt-Label">
        <b>{{DB.stepFourStep}}</b>{{DB.stepFourTitle}}</p>
      <!-- {{DB.LFK | json}} -->
      <div class="gwt-Table-Wrapper">
        <table class="gwt-Table gwt-Table-Bold table table-bordered">
          <tbody>
          <ng-container *ngIf="4>=DB.modeOfMotionActivityChecked">
            <tr *ngFor="let item of DB.stepFourTableSick; let i=index">
              <!-- {{i}}{{DB.modeOfMotionActivityChecked}} -->
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
            <tr *ngFor="let item of DB.stepFourTableSick; let i=index">
              <ng-container *ngIf="i==DB.modeOfMotionActivityChecked">
                <td *ngFor="let td of item.td; let j=index">
                  <!-- (click)="DB.LFK[j]=!DB.LFK[j];"-->
                  <ng-container *ngIf="j!=0">
                      <span class="gwt-CheckBox">
                        <!-- style="pointer-events:none;"-->
                        <input type="checkbox" [checked]="DB.LFK[j]" [(ngModel)]="DB.LFK[j]" (change)="redirectTo(j);">
                      </span>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="DB.modeOfMotionActivityChecked>4">
            <tr *ngFor="let item of DB.stepFourTableHealth; let i=index">
              <ng-container *ngIf="i==0 || i==DB.modeOfMotionActivityChecked-4">
                <td *ngFor="let td of item.td">{{td}}</td>
              </ng-container>
            </tr>
            <tr *ngFor="let item of DB.stepFourTableHealth; let i=index">
              <ng-container *ngIf="i==DB.modeOfMotionActivityChecked-4">
                <td *ngFor="let td of item.td; let j=index">
                  <ng-container *ngIf="j!=0">
                      <span class="gwt-CheckBox">
                        <input type="checkbox" [checked]="DB.LFK[j]" [(ngModel)]="DB.LFK[j]" (change)="updateFormsOfProcedureHealthTable(j);redirectTo(j);">
                      </span>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="4>=DB.modeOfMotionActivityChecked" class="gwt-HTML">
    <p class="gwt-Label">{{DB.formsOfProcedureSickTitle}}</p>
    <div class="gwt-Table-Wrapper">
      <table class="gwt-Table gwt-Table-Bold table table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.formsOfProcedureSickTable">
          <td>{{item.td[0]}}</td>
          <td>{{item.td[1]}}</td>
          <td>{{item.td[2]}}</td>
          <td>{{item.td[3]}}</td>
          <td>{{item.td[4]}}</td>
          <td>{{item.td[5]}}</td>
          <td>{{item.td[6]}}</td>
          <td>{{item.td[7]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p *ngFor="let item of DB.formsOfProcedureSickNote; let i=index;">
      <i *ngIf="i==0">{{DB.defaultNote}}</i>{{item}}</p>
  </div>

  <div *ngIf="DB.modeOfMotionActivityChecked>4" class="gwt-HTML">
    <p class="gwt-Label gwt-Big-Label gwt-Label-Centered">{{DB.formsOfProcedureHealthTitle}}</p>
    <p class="gwt-Label gwt-Label-Centered">{{DB.formsOfProcedureHealthSubTitle}}</p>
    <div class="gwt-Table-Wrapper" style="height: 300px !important;">
      <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
        <tbody>
        <tr *ngFor="let item of DB.formsOfProcedureHealthTable; let i=index">
          <ng-container *ngIf="(item.edit)">
            <td>
              <input type="edit" [(ngModel)]="item.td[0]" class="gwt-Table-Input">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit)">
            <td>{{item.td[0]}}</td>
          </ng-container>

          <ng-container *ngIf="(item.edit)">
            <td>
              <input type="edit" [(ngModel)]="item.td[1]" class="gwt-Table-Input">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit)">
            <td>{{item.td[1]}}</td>
          </ng-container>

          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==1)">
            <td>
              <input type="edit" [(ngModel)]="item.td[2]" class="gwt-Table-Input">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==1)">
            <td>{{item.td[2]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input type="checkbox" [checked]="(DB.modeOfMotionActivityChecked-4)==1 && item.td[3]" [disabled]="!(((DB.modeOfMotionActivityChecked-4)==1))"
                       [(ngModel)]="item.td[3]" (change)="changeFormsOfProcedureHealthTable();">
                <!--&& (DB.LFK[9] && i>=19 && i<=23)-->
              </span>
          </td>
          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==2)">
            <td>
              <input type="edit" [(ngModel)]="item.td[4]" class="gwt-Table-Input">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==2)">
            <td>{{item.td[4]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input type="checkbox" [checked]="(DB.modeOfMotionActivityChecked-4)==2 && item.td[5]" [disabled]="!((DB.modeOfMotionActivityChecked-4)==2)"
                       [(ngModel)]="item.td[5]" (change)="changeFormsOfProcedureHealthTable();">
              </span>
          </td>
          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==3)">
            <td>
              <input type="edit" [(ngModel)]="item.td[6]" class="gwt-Table-Input">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==3)">
            <td>{{item.td[6]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input type="checkbox" [checked]="(DB.modeOfMotionActivityChecked-4)==3 && item.td[7]" [disabled]="!((DB.modeOfMotionActivityChecked-4)==3)"
                       [(ngModel)]="item.td[7]" (change)="changeFormsOfProcedureHealthTable();">
              </span>
          </td>
          <ng-container *ngIf="(item.edit && (DB.modeOfMotionActivityChecked-4)==4)">
            <td>
              <input type="edit" [(ngModel)]="item.td[8]" class="gwt-Table-Input">
            </td>
          </ng-container>
          <ng-container *ngIf="!(item.edit && (DB.modeOfMotionActivityChecked-4)==4)">
            <td>{{item.td[8]}}</td>
          </ng-container>
          <td>
              <span class="gwt-CheckBox">
                <input type="checkbox" [checked]="(DB.modeOfMotionActivityChecked-4)==4 && item.td[9]" [disabled]="!((DB.modeOfMotionActivityChecked-4)==4)"
                       [(ngModel)]="item.td[9]" (change)="changeFormsOfProcedureHealthTable();">
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button (click)="addFormsOfProcedureHealthTableRow()">{{DB.addFormsOfProcedureHealthTableRow}}</button>
    <p *ngFor="let item of DB.formsOfProcedureHealthNote; let i=index;"><i *ngIf="i==0">{{DB.defaultNote}}</i>{{item}}</p>
  </div>


  <!-- <app-ui-rehabilitation-navigation></app-ui-rehabilitation-navigation> -->
  <div #rehabilitationnav>
    <div *ngIf="DB.modeOfMotionActivityChecked && (DB.LFK[1] || DB.LFK[2] || DB.LFK[3] || DB.LFK[4] || DB.LFK[8])">
      <div id="rehabilitationnav" fragment="rehabilitationnav" class="rehabilitationnav">
        <p *ngIf="DB.LFK[1]">
          <a routerLink="./morning-gymnastics" fragment="morning-gymnastics" routerLinkActive="active">{{DB.morningGymnasticsNav}}</a>
        </p>
        <p *ngIf="DB.LFK[2]">
          <a routerLink="./medical-gymnastics" fragment="medical-gymnastics" routerLinkActive="active">{{DB.medicalGymnasticsNav}}</a>
        </p>
        <p *ngIf="DB.LFK[3]">
          <a routerLink="./self-exercises" fragment="self-exercises" routerLinkActive="active">{{DB.selfExercisesNav}}</a>
        </p>
        <p *ngIf="DB.LFK[4]">
          <a routerLink="./massage" fragment="massage" routerLinkActive="active">{{DB.massageNav}}</a>
        </p>
        <p *ngIf="DB.LFK[8]">
          <a routerLink="./multimedia" fragment="multimedia" routerLinkActive="active">{{DB.multimediaNav}}</a>
        </p>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>
