.avatar-input {
  width: 87%;
}

.avatar {
  height: 65px;
  width: 65px;
}

mat-card-title {
  font-size: 24px !important;
  margin-bottom: 14px !important;
}

mat-card-subtitle {
  font-size: 16px;
}


