<mat-card class="card-component">
  <mat-card-header>
    <img *ngIf="srcAvatar" mat-card-avatar src="{{avatarFile.src}}" alt="Avatar" class="avatar pointer"
         (click)="openDialog()"/>
    <img *ngIf="!srcAvatar" mat-card-avatar src="{{avatarFile.srcNotHave}}" alt="Avatar"
         class="avatar"/>
    <mat-card-title class="mat-card-title">{{form.get('surname').value}} {{form.get('name').value}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{form.get('middleName').value}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (submit)="onSubmit()" (reset)="resetForm()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Фото" readonly value="{{avatarFile.selectedName}}">
        <input #fileInput type="file" accept="image/jpeg, image/png" (change)="onFileChange($event)"
               style="display:none;"/>
        <a mat-button type="button" class="upload-button" (click)="fileInput.click()">
          <mat-icon>add_a_photo</mat-icon>
          <span> Додати фото</span>
        </a>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="itemNo" type="number" placeholder="№ п/п" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="employmentDate" type="date" placeholder="Дата працевлаштування" [matDatepicker]="dpEmploymentDate" (click)="dpEmploymentDate.open()" required>
        <mat-datepicker-toggle matSuffix [for]="dpEmploymentDate"></mat-datepicker-toggle>
        <mat-datepicker #dpEmploymentDate startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="expirationDate" placeholder="Дата окончания" [matDatepicker]="dpExpirationDate" (click)="dpExpirationDate.open()" required>
        <mat-datepicker-toggle matSuffix [for]="dpExpirationDate"></mat-datepicker-toggle>
        <mat-datepicker #dpExpirationDate startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="surname" placeholder="Прізвище" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="name" placeholder="Ім'я" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="middleName" placeholder="По батькові" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="birthDate" placeholder="Дата народження" [matDatepicker]="dpBirthDate" (click)="dpBirthDate.open()">
        <mat-datepicker-toggle matSuffix [for]="dpBirthDate"></mat-datepicker-toggle>
        <mat-datepicker #dpBirthDate startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="residencePlace" placeholder="Постійне місце проживання">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput formControlName="educationFile" placeholder="Освіта (завантажити копію)" readonly value="{{selectedFileName}}">
        <input #fileInput type="file" accept="image/jpeg, image/png" (change)="onFileChange($event)"
               style="display:none;"/>
        <a mat-button type="button" class="upload-button" (click)="fileInput.click()">
          <mat-icon>add_a_photo</mat-icon>
          <span> Завантажити копію</span>
        </a>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="tel" formControlName="phoneNumbers" placeholder="Телефоны" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="medicalCardNumber" placeholder="№ карти стац. хворого">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="workplace" placeholder="Місце роботи">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="workPost" placeholder="Посада">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Стать" formControlName="gender" required>
          <mat-option *ngFor="let gender of genders$ | async" [value]="gender._id">
            {{gender.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions align="center" class="button-row">
        <button type="submit" mat-stroked-button color="primary">Сохранить</button>
        <button type="reset" mat-stroked-button>Сбросить</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>


