<p>
  <mat-card>
    <mat-card-title class="text-center">Авторизація</mat-card-title>
    <mat-card-content>
      <form (submit)="login()" [formGroup]="form" class="login-form full-width">
        <mat-form-field>
          <input formControlName="login" matInput placeholder="Логін" required/>
        </mat-form-field>
        <mat-form-field>
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput placeholder="Пароль"
                 required/>
          <mat-icon (click)="hidePassword = !hidePassword"
                    matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button color="primary" mat-stroked-button type="submit">Увійти</button>
      </form>
    </mat-card-content>
  </mat-card>
</p>
