<!--<app-patient-search-panel></app-patient-search-panel>-->

<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput formControlName="hospitalizationDate" placeholder="Дата госпіталізації"
               [max]="maxDate"
               [matDatepicker]="datePicker"
               (click)="datePicker.open()"
               (dateChange)="timePicker.open()" required>
        <mat-datepicker touchUi #datePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [ngxTimepicker]="timePicker" [format]="24" placeholder="і час" required>
        <ngx-material-timepicker #timePicker></ngx-material-timepicker>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="senderMedicalFacility" placeholder="Яким закладом направлений" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="diagnosis" placeholder="Діагноз" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="finalDiagnosis" placeholder="Заключний діагноз">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Вперше / повторно" formControlName="howIncoming" required>
          <mat-option *ngFor="let howIncomingModel of howIncomingModels$ | async" [value]="howIncomingModel._id">
            {{howIncomingModel.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="issuanceDate" placeholder="Дата виписки">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="note" placeholder="Примітка"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="examination" placeholder="Обследование">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="placement" placeholder="Палата">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      <mat-icon>meeting_room</mat-icon>
      <span class="text-i-button">Закріпити місце</span>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>assignment</mat-icon>
      <span class="text-i-button">Почати обстеженняе</span>
    </button>
  </mat-card-actions>
</mat-card>
