<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <input (click)="datePicker.open()" (dateChange)="timePicker.open()" [matDatepicker]="datePicker"
               [max]="maxDate"
               formControlName="hospitalizationDate"
               matInput
               placeholder="Дата госпіталізації" required>
        <mat-datepicker #datePicker touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input [format]="24" [ngxTimepicker]="timePicker" matInput placeholder="і час" required>
        <ngx-material-timepicker #timePicker></ngx-material-timepicker>
        <!--        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>-->
      </mat-form-field>
      <mat-form-field>
        <input formControlName="senderMedicalFacility" matInput placeholder="Яким закладом направлений" required>
      </mat-form-field>
      <mat-form-field>
        <textarea formControlName="diagnosis" matInput placeholder="Діагноз" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="finalDiagnosis" matInput placeholder="Заключний діагноз">
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="howIncoming" placeholder="Вперше / повторно" required>
          <mat-option *ngFor="let howIncomingModel of howIncomingModels$ | async" [value]="howIncomingModel._id">
            {{howIncomingModel.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="issuanceDate" matInput placeholder="Дата виписки">
      </mat-form-field>
      <mat-form-field>
        <textarea formControlName="note" matInput placeholder="Примітка"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="examination" matInput placeholder="Обследование">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="placement" matInput placeholder="Палата">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button>
      <mat-icon>meeting_room</mat-icon>
      <span class="text-i-button">Закріпити місце</span>
    </button>
    <button color="primary" mat-raised-button>
      <mat-icon>assignment</mat-icon>
      <span class="text-i-button">Почати обстеженняе</span>
    </button>
  </mat-card-actions>
</mat-card>
