<mat-card class="card-component">
  <mat-card-header>
    <mat-card-title class="mat-card-title">{{patient.surname}} {{patient.name}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{patient.middleName}}</mat-card-subtitle>
    <img (click)="openDialog()" *ngIf="avatarFile.src" [src]="avatarFile.src" alt="Avatar" class="avatar pointer"
         mat-card-avatar/>
    <img *ngIf="!avatarFile.src" [src]="avatarFile.srcNotHave" alt="Avatar" class="avatar"
         mat-card-avatar/>

  </mat-card-header>
  <mat-card-content>
    <form class="full-width">
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.surname)" matInput placeholder="Прізвище" readonly>
      </mat-form-field>
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.name)" matInput placeholder="Ім'я" readonly>
      </mat-form-field>
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.middleName)" matInput placeholder="По батькові" readonly>
      </mat-form-field>
      <mat-form-field>
        <input [value]="patient.birthDate ? patient.birthDate.toLocaleString() : ''" matInput
               placeholder="Дата народження" readonly>
      </mat-form-field>
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.permanentResidence)" matInput
               placeholder="Постійне місце проживання" readonly>
      </mat-form-field>
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.addressOfRelativesAndFamily)" matInput
               placeholder="Адреса родичів і сім'ї" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list>
          <mat-chip *ngFor="let phoneNumber of patient.phoneNumbers">
            {{phoneNumber}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.medicalCardNumber)" matInput
               placeholder="№ карти стац. хворого" readonly>
      </mat-form-field>
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.workplace)" matInput placeholder="Місце роботи" readonly>
      </mat-form-field>
      <mat-form-field>
        <input [value]="formHelper.fixEmpty(patient.workPost)" matInput placeholder="Посада" readonly>
      </mat-form-field>
      <!--      <mat-form-field>-->
      <!--        <mat-select placeholder="Стать" formControlName="gender" required>-->
      <!--          <mat-option *ngFor="let gender of genders$ | async" [value]="gender._id">-->
      <!--            {{gender.title}}-->
      <!--          </mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->
    </form>
  </mat-card-content>
</mat-card>


