<h3>Список пациентов</h3>

<mat-card class="card-mini-component" *ngFor="let patient of patients$ | async">
  <mat-card-header>
    <img mat-card-avatar *ngIf="patient.photo" src="{{buildSrcAvatar(patient)}}" alt="Avatar" class="avatar"
         (click)="openDialog(patient)"/>
    <img mat-card-avatar *ngIf="!patient.photo" src="{{srcNotHaveAvatar}}" alt="Not have avatar">
    <mat-card-title class="mat-card-title">{{patient.surname}} {{patient.name}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{patient.middleName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="deletePatient(patient)">
        <mat-icon>delete</mat-icon>
        <span>Видалити</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
