<form [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="hospitalizationDate" placeholder="Дата і час госпіталізації"
           [matDatepicker]="datePicker"
           (click)="datePicker.open()" (dateChange)="timePicker.open()">
    <mat-datepicker touchUi #datePicker startView="multi-year"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [ngxTimepicker]="timePicker" [format]="24">
    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  </mat-form-field>

  <!--  <mat-form-field>-->
  <!--    <input matInput formControlName="senderMedicalFacility" placeholder="Яким закладом направлений" required>-->
  <!--  </mat-form-field>-->
  <!--  <mat-form-field>-->
  <!--    <input matInput formControlName="senderMedicalFacility" placeholder="" required>-->
  <!--  </mat-form-field>-->
  <!--  <mat-form-field>-->
  <!--    <input matInput formControlName="senderMedicalFacility" placeholder="" required>-->
  <!--  </mat-form-field>-->
  <!--  <mat-form-field>-->
  <!--    <input matInput formControlName="senderMedicalFacility" placeholder="">-->
  <!--  </mat-form-field>-->
  <!--  <mat-form-field>-->
  <!--    <input matInput formControlName="senderMedicalFacility" placeholder="">-->
  <!--  </mat-form-field>-->
  <!--  <mat-form-field>-->
  <!--    <input matInput formControlName="senderMedicalFacility" placeholder="">-->
  <!--  </mat-form-field>-->
</form>
