<mat-card>
  <div *ngIf="patient.surname">Прізвище: {{formHelper.fixEmpty(patient.surname)}}</div>
  <div *ngIf="patient.name">Ім'я: {{patient.name}}</div>
  <div *ngIf="patient.middleName">По батькові: {{patient.middleName}}</div>
  <div *ngIf="patient.birthDate">Дата народження: {{patient.birthDate.toLocaleString()}}</div>
  <div *ngIf="patient.permanentResidence">Постійне місце проживання: {{patient.permanentResidence}}</div>
  <div *ngIf="patient.addressOfRelativesAndFamily">Адреса родичів і сім'ї: {{patient.addressOfRelativesAndFamily}}</div>
  <div *ngIf="patient.phoneNumbers.length>0">Телефоны: {{patient.phoneNumbers.join(';')}}</div>
  <div *ngIf="patient.medicalCardNumber">№ карти стац. хворого: {{patient.medicalCardNumber}}</div>
  <div *ngIf="patient.workplace">Місце роботи: {{patient.workplace}}</div>
  <div *ngIf="patient.workPost">Посада: {{patient.workPost}}</div>
</mat-card>


