<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Пошук співробітників</span>
  </mat-toolbar-row>
</mat-toolbar>

<app-loading-container [loading]="loadingPage$">
  <mat-card *ngFor="let employee of employees$ | async" class="card-mini pointer hover" matRipple>
    <mat-card-header>
      <img (click)="openDialog(employee)" *ngIf="employee.photo" [src]="buildSrcAvatar(employee)" alt="Avatar" class="pointer"
           mat-card-avatar/>
      <img *ngIf="!employee.photo" [src]="srcNotHaveAvatar" alt="Not have avatar" mat-card-avatar>
      <mat-card-title class="mat-card-title">{{employee.surname}} {{employee.name}}</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">{{employee.middleName}}</mat-card-subtitle>
    </mat-card-header>
    <button [matMenuTriggerFor]="menu" class="more-vert-button" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button (click)="editEmployee(employee)" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Редагувати</span>
      </button>
      <button (click)="deleteEmployee(employee)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Видалити</span>
      </button>
    </mat-menu>
  </mat-card>
</app-loading-container>

<mat-paginator (page)="loadPage()"
               [length]="(page$ | async).totalDocs"
               [pageSizeOptions]=""
               [pageSize]=""
               showFirstLastButtons
></mat-paginator>


