<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Список співробітників</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="card-mini pointer hover" *ngFor="let employee of employees$ | async" matRipple>
  <mat-card-header>
    <img mat-card-avatar *ngIf="employee.photo" [src]="buildSrcAvatar(employee)" alt="Avatar" class="pointer"
         (click)="openDialog(employee)"/>
    <img mat-card-avatar *ngIf="!employee.photo" [src]="srcNotHaveAvatar" alt="Not have avatar">
    <mat-card-title class="mat-card-title">{{employee.surname}} {{employee.name}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{employee.middleName}}</mat-card-subtitle>
  </mat-card-header>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vert-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item (click)="deletePatient(employee)">
      <mat-icon>delete</mat-icon>
      <span>Видалити</span>
    </button>
  </mat-menu>
</mat-card>
