<mat-card class="card-mini pointer hover" matRipple>
  <mat-card-header>
    <img (click)="openDialog(patient)" *ngIf="patient.photo" [src]="getSrcAvatar(patient)" alt="Avatar" class="pointer"
         mat-card-avatar/>
    <img *ngIf="!patient.photo" [src]="srcNotHaveAvatar" alt="Not have avatar" mat-card-avatar>
    <mat-card-title class="mat-card-title">{{patient.surname}} {{patient.name}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{patient.middleName}}</mat-card-subtitle>
  </mat-card-header>
  <button [matMenuTriggerFor]="menu" class="more-vert-button" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu>
    <button (click)="editPatient(patient)" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Редагувати</span>
    </button>
    <button (click)="deletePatient(patient)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Видалити</span>
    </button>
  </mat-menu>
</mat-card>
