<mat-form-field class="full-width">
  <mat-chip-list
    #chipList>
    <mat-chip
      (removed)="remove(item)"
      *ngFor="let item of items"
      [removable]="removable"
      [selectable]="selectable">
      {{item[selectableName]}}
      <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      #itemInput
      [formControl]="formControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [placeholder]="placeholder"
      [required]="required"
      matInput>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let filteredItem of filteredItems | async;  let i = index" [attr.data-index]="i" [value]="i">
      {{filteredItem[selectableName]}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
