<mat-card class="card-component">
  <h1>Новий співробітник</h1>
  <mat-card-header>
    <img (click)="openDialog()" *ngIf="photoFile.src" [src]="photoFile.src" alt="Avatar" class="avatar pointer"
         mat-card-avatar/>
    <img *ngIf="!photoFile.src" [src]="photoFile.srcNotHave" alt="Avatar" class="avatar"
         mat-card-avatar/>
    <mat-card-title class="mat-card-title">{{form.get('surname').value}} {{form.get('name').value}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{form.get('middleName').value}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (reset)="resetForm()" (submit)="onSubmit()" [formGroup]="form" class="full-width">
      <mat-form-field>
        <input (click)="fileInputPhoto.click()" formControlName="photo" matInput placeholder="Фото" readonly
               value="{{photoFile.selectedName}}">
        <input #fileInputPhoto (change)="onFileChange($event,'photo', photoFile, true)" accept="image/*" style="display:none;"
               type="file"/>
        <app-form-upload-button [fileInput]="fileInputPhoto" matIconName="add_a_photo" matSuffix
                                textButton="Додати фото">
        </app-form-upload-button>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="surname" matInput placeholder="Прізвище" required>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Ім'я" required>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="middleName" matInput placeholder="По батькові" required>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="itemNo" matInput placeholder="№ п/п" required type="number">
      </mat-form-field>
      <mat-form-field>
        <input (click)="dpEmploymentDate.open()" [matDatepicker]="dpEmploymentDate" formControlName="employmentDate"
               matInput placeholder="Дата працевлаштування" required>
        <mat-datepicker-toggle [for]="dpEmploymentDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dpEmploymentDate startView="multi-year" touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input (click)="dpExpirationDate.open()" [matDatepicker]="dpExpirationDate" formControlName="expirationDate" matInput
               placeholder="Дата окончания">
        <mat-datepicker-toggle [for]="dpExpirationDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dpExpirationDate startView="multi-year" touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input (click)="dpBirthDate.open()" [matDatepicker]="dpBirthDate" formControlName="birthDate" matInput
               placeholder="Дата народження">
        <mat-datepicker-toggle [for]="dpBirthDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dpBirthDate startView="multi-year" touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="residencePlace" matInput placeholder="Постійне місце проживання">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="educationFile" matInput placeholder="Освіта (завантажити копію)" readonly
               value="{{educationFile.selectedName}}">
        <input #fileInputEducationFile (change)="onFileChange($event,'educationFile', educationFile, false)" accept="image/*"
               style="display:none;"
               type="file"/>
        <app-form-upload-button [fileInput]="fileInputEducationFile" matIconName="add_a_photo" matSuffix
                                textButton="Завантажити копію">
        </app-form-upload-button>
      </mat-form-field>
      <mat-form-field>
        <input (click)="dpRefresherCoursesDate.open()" [matDatepicker]="dpRefresherCoursesDate"
               formControlName="refresherCoursesDate" matInput
               placeholder="Дата проходження курсів підвищення кваліфікації ">
        <mat-datepicker-toggle [for]="dpRefresherCoursesDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dpRefresherCoursesDate startView="multi-year" touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="placeRefresherCoursesFile" matInput
               placeholder="Місце проходження курсів підвищення кваліфікації (завантажити копію)" readonly
               value="{{placeRefresherCoursesFile.selectedName}}">
        <input #fileInputPlaceRefresherCoursesFile (change)="onFileChange($event,'placeRefresherCoursesFile', placeRefresherCoursesFile, false)" accept="image/*"
               style="display:none;"
               type="file"/>
        <app-form-upload-button [fileInput]="fileInputPlaceRefresherCoursesFile" matIconName="add_a_photo" matSuffix
                                textButton="Завантажити копію">
        </app-form-upload-button>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="branch" placeholder="Відділення" required>
          <mat-option *ngFor="let branch of branches$ | async" [value]="branch._id">
            {{branch.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="post" placeholder="Посада" required>
          <mat-option *ngFor="let post of posts$ | async" [value]="post._id">
            {{post.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-form-card-actions [dialogRef]="dialogRef" [isUpdate]="!!editEmployee"></app-form-card-actions>
    </form>
  </mat-card-content>
</mat-card>


