<div class="col-md-12">
  <p *ngFor="let item of DB.tasks; let i=index;"><i>{{DB.defaultTask}} {{i + 1}}: </i>{{item}}</p>
  <div #efficiencynav>
    <div>
      <div class="efficiencynav" fragment="efficiencynav" id="efficiencynav">
        <p><a fragment="robinson-index" routerLink="./robinson-index"
              routerLinkActive="active">{{DB.robinsonIndexNav}}</a></p>
        <p><a fragment="baevsky-test" routerLink="./baevsky-test" routerLinkActive="active">{{DB.baevskyTestNav}}</a>
        </p>
        <p><a fragment="sbp-hr" routerLink="./sbp-hr" routerLinkActive="active">{{DB.sbpHrNav}}</a></p>
        <p><a fragment="orthostatic-test" routerLink="./orthostatic-test"
              routerLinkActive="active">{{DB.orthostaticTestNav}}</a></p>
        <p><a fragment="kerdo-index" routerLink="./kerdo-index" routerLinkActive="active">{{DB.kerdoIndexNav}}</a></p>
        <p *ngIf="this.DB.isHealth.value"><a fragment="physical-capacity" routerLink="./physical-capacity"
                                             routerLinkActive="active">{{DB.physicalCapacityNav}}</a></p>
        <p *ngIf="this.DB.isHealth.value"><a fragment="martine-kushelevsky-test" routerLink="./martine-kushelevsky-test"
                                             routerLinkActive="active">{{DB.martineKushelevskyTestNav}}</a></p>
        <p *ngIf="this.DB.isHealth.value"><a fragment="ruffie-test" routerLink="./ruffie-test"
                                             routerLinkActive="active">{{DB.ruffieTestNav}}</a></p>
        <p *ngIf="this.DB.isHealth.value"><a fragment="apanasenko-test" routerLink="./apanasenko-test"
                                             routerLinkActive="active">{{DB.apanasenkoTestNav}}</a></p>
        <p *ngIf="this.DB.isHealth.value"><a fragment="skibinskaya-index" routerLink="./skibinskaya-index"
                                             routerLinkActive="active">{{DB.skibinskayaIndexNav}}</a></p>
        <p *ngIf="this.DB.isHealth.value"><a fragment="klabchuk-index" routerLink="./klabchuk-index"
                                             routerLinkActive="active">{{DB.klabchukIndexNav}}</a></p>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>
