<mat-card class="card-component">
  <!--  <h1>Новий пацієнт</h1>-->
  <mat-card-header>
    <mat-card-title class="mat-card-title">{{form.get('surname').value}} {{form.get('name').value}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{form.get('middleName').value}}</mat-card-subtitle>
    <img *ngIf="avatarFile.src" mat-card-avatar [src]="avatarFile.src" alt="Avatar" class="avatar pointer"
         (click)="openDialog()"/>
    <img *ngIf="!avatarFile.src" mat-card-avatar [src]="avatarFile.srcNotHave" alt="Avatar"
         class="avatar"/>

  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (submit)="onSubmit()" (reset)="resetForm()" class="full-width">
      <mat-form-field>
        <input matInput formControlName="photo" placeholder="Фото" readonly value="{{avatarFile.selectedName}}"
               (click)="fileInput.click()">
        <input #fileInput type="file" accept="image/jpeg, image/png" (change)="onFileChange($event)"
               style="display:none;"/>
        <app-form-upload-button matSuffix [fileInput]="fileInput" matIconName="add_a_photo" textButton="Додати фото">
        </app-form-upload-button>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="surname" placeholder="Прізвище" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Ім'я" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="middleName" placeholder="По батькові" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="birthDate" placeholder="Дата народження" [matDatepicker]="datePicker"
               (click)="datePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="permanentResidence" placeholder="Постійне місце проживання">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="addressOfRelativesAndFamily" placeholder="Адреса родичів і сім'ї">
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #phoneNumberChipList required>
          <mat-chip *ngFor="let phoneNumber of form.get('phoneNumbers').value" removable
                    (removed)="removePhoneNumberChip(phoneNumber)">
            {{phoneNumber}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Телефоны"
                 [matChipInputAddOnBlur]="true"
                 [matChipInputFor]="phoneNumberChipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addPhoneNumberChip($event)">
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="medicalCardNumber" placeholder="№ карти стац. хворого">
        <mat-error>
          fdsfsdafa
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="workplace" placeholder="Місце роботи">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="workPost" placeholder="Посада">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Стать" formControlName="gender" required>
          <mat-option *ngFor="let gender of genders$ | async" [value]="gender._id">
            {{gender.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-form-card-actions [isUpdate]="!!editPatient" [dialogRef]="dialogRef"></app-form-card-actions>
    </form>
  </mat-card-content>
</mat-card>


