<div class="col-md-12" style="margin: 15px 0px; background: #f8f8f8; border: 1px solid rgba(0, 0, 0, 0.2); padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">

  <p *ngFor="let item of DB.orthostaticTest.tasks; let i=index;"><i>{{DB.defaultTask}} {{i+1}}: </i>{{item}}</p>

  <button (click)="addColumns()">{{DB.orthostaticTest.addColumns}}</button>
  <button (click)="removeColumns()">{{DB.orthostaticTest.removeColumns}}</button>
  <button (click)="calculateColumns()">{{DB.orthostaticTest.calculateColumns}}</button>
  <div class="gwt-Table-Wrapper">
    <table class="gwt-Table gwt-Table-Bold table table-hover table-bordered">
      <tbody>
      <ng-container *ngFor="let item of DB.orthostaticTest.table; let i=index">
        <tr>
          <ng-container *ngFor="let td of item.td; let j=index">
            <td *ngIf="td.type=='text'">{{td.value}}</td>
            <td *ngIf="td.type=='select' && i==DB.orthostaticTest.table.length-1 && j%2==0">
              <select class="gwt-ListBox" [(ngModel)]="td.value">
                <option *ngFor="let o of td.values; let j=index" [ngValue]="o.value">{{o.value}}</option>
              </select>
            </td>
            <td *ngIf="td.type=='select' && i==DB.orthostaticTest.table.length-1 && j%2==1"></td>
            <td *ngIf="td.type!='text' && i!=DB.orthostaticTest.table.length-1"><input type="{{td.type}}" [(ngModel)]="td.value" class="gwt-Table-Input"></td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

</div>
