<div>
  <p>Ознайомтесь із загальними протипоказаннями до призначення фізичної реабілітації та зробіть висновки щодо можливості
    призначення фізичної реабілітації залежно від наявності чи відсутності протипоказань для призначення фізичної
    реабілітації.</p>
  <p>Виберіть з переліку основного контингенту хворих (присутня одна або більше ознак). <em>ТГ-терапевтична група.
    НГ-неврологічна. ОТіХГ-Ортопедо-травматологічна і хірургічна.</em></p>
</div>
<app-chips-list
  required="true"
  placeholder="Виберіте одну або більше ознак ..."
  [source]="source"
  selectableName="title"
  (itemsEvent)="receiveItems($event)">
</app-chips-list>
