<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let fruit of fruits"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <select matNativeControl required (selectionChange)="selected($event)">
      <option *ngFor="let fruit of filteredFruits | async" [value]="fruit" (select)="selected($event)">{{fruit}}</option>
    </select>
    <!--<input-->
      <!--placeholder="New fruit..."-->
      <!--#fruitInput-->
      <!--[formControl]="fruitCtrl"-->
      <!--[matAutocomplete]="auto"-->
      <!--[matChipInputFor]="chipList"-->
      <!--[matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
      <!--[matChipInputAddOnBlur]="addOnBlur">-->
  </mat-chip-list>
  <!--<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">-->
    <!--<mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">-->
      <!--{{fruit}}-->
    <!--</mat-option>-->
  <!--</mat-autocomplete>-->
</mat-form-field>
