<form [formGroup]="form">
  <mat-form-field>
    <mat-select formControlName="departments" placeholder="Виберіть відділення" required>
      <mat-option (click)="selectDepartment(department)"
                  *ngFor="let department of departments$ | async"
                  [disabled]="department.full"
                  [value]="department._id">
        {{department.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="chambers" placeholder="Виберіть палату" required>
      <mat-option *ngFor="let chamber of chambers$ | async"
                  [disabled]="chamber.full"
                  [value]="chamber._id">
        {{chamber.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="beds" placeholder="Виберіть ліжко" required>
      <mat-option *ngFor="let bed of beds$ | async"
                  [disabled]="bed.occupied"
                  [value]="bed._id">
        {{bed.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
