<mat-drawer-container class="example-container">
  <mat-drawer class="drawer-content" mode="side" opened>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Робота з користувачами
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-menu-item [matMenuTriggerFor]="subMenuEmployees">Співробітники</button>
        <button mat-menu-item routerLink="./patients">Пациенты</button>
        <mat-menu #subMenuEmployees="matMenu">
          <button mat-menu-item routerLink="./employees/new">Створити</button>
          <button mat-menu-item routerLink="./employees/search">Пошук</button>
        </mat-menu>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Інші елементи
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-menu-item [matMenuTriggerFor]="subMenuBranches">Відділення</button>
        <button mat-menu-item [matMenuTriggerFor]="subMenuPosts">Посада</button>
        <mat-menu #subMenuBranches="matMenu">
          <button mat-menu-item routerLink="./branches/new">Створити</button>
          <button mat-menu-item routerLink="./branches/search">Пошук</button>
        </mat-menu>
        <mat-menu #subMenuPosts="matMenu">
          <button mat-menu-item routerLink="./posts/new">Створити</button>
          <button mat-menu-item routerLink="./posts/search">Пошук</button>
        </mat-menu>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
