<mat-drawer-container class="example-container">
  <mat-drawer class="drawer-content" mode="side" opened>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Робота з користувачами
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-menu-item [matMenuTriggerFor]="addSearchSubMenu"
                (click)="setAddSearchSubMenuRouterLink('./employees')">
          Співробітники
        </button>
        <button mat-menu-item [matMenuTriggerFor]="addSearchSubMenu"
                (click)="setAddSearchSubMenuRouterLink('./patients')">
          Пациенты
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Інші елементи
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-menu-item [matMenuTriggerFor]="addSearchSubMenu"
                (click)="setAddSearchSubMenuRouterLink('./branches')">
          Відділення
        </button>
        <button mat-menu-item [matMenuTriggerFor]="addSearchSubMenu"
                (click)="setAddSearchSubMenuRouterLink('./posts')">
          Посада
        </button>
      </mat-expansion-panel>

      <mat-menu #addSearchSubMenu="matMenu">
        <button mat-menu-item routerLink="{{addSearchSubMenuRouterLink + '/new'}}">
          <mat-icon>add</mat-icon>
          <span>Створити</span>
        </button>
        <button mat-menu-item routerLink="{{addSearchSubMenuRouterLink + '/search'}}">
          <mat-icon>search</mat-icon>
          <span>Пошук</span>
        </button>
      </mat-menu>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
