<mat-card *ngFor="let titleModel of titleModels$ | async" class="card-mini pointer hover">
  <mat-card-header>
    {{titleModel.title}}
  </mat-card-header>
  <mat-card-actions>
    <button [matMenuTriggerFor]="menu" class="more-vert-button" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button (click)="deleteBranch(titleModel)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Видалити</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
